#calendar {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
}

#calendar-title {
	
}

#calendar-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-auto-flow: row;
}

.day {
	grid-column: span 1;
	grid-row: span 1;
	
	height: 2rem;
	width: 2rem;
}

#highlighted-day {
	
}